body{
    font-family: sans-serif;
    margin: 30px;
    padding: 30px;
    background: #3a553c;
}

.container{
    background: #4d8349;
    padding: 100px;
    border-radius: 20px;
    
}

.container input{
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    width: 50%;
}

.container button{
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    color: white;
    background: #3a553c;
}

